---
import MainHead from "../../components/MainHead.astro";
import Footer from "../../components/Footer.astro";
import Nav from "../../components/Nav.astro";
import Image from "../../components/Image.astro";
import Photos from "../../services/Photos";
import type { Gallery, Photo } from "../../types";

//  Pre-render id paths at build time
export async function getStaticPaths() {
  const galleries: Gallery[] = await Photos.getGalleries();
  return galleries.map(({ folder }) => ({ params: { id: folder } }));
}

const IMAGE_SIZE = 380;
const { id } = Astro.params;
const photos = await Photos.getPhotos(id as string);
---

<html lang="en">
  <head>
    <MainHead title="Photos" description="Photo galleries" />
  </head>
  <body>
    <Nav
      breadcrumbs={[
        { name: "photos", url: "/" },
        { name: id, url: `/gallery/${id}` },
      ]}
    />
    <div class="gallery-wrapper">
      <div class="gallery-grid">
        {
          photos?.map((photo: Photo) => (
            <Image
              src={`${id}/${photo.name}`}
              alt={photo.name}
              width={IMAGE_SIZE}
              height={IMAGE_SIZE}
              lazy
            />
          ))
        }
      </div>
    </div>
    <Footer />
    <style>
      :root {
        --image-size: 380px; /* Make this the same as IMAGE_SIZE */
      }

      .gallery-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #f2f2f2;
        padding-top: 32px;
      }

      .gallery-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, var(--image-size));
        grid-auto-rows: var(--image-size);
        grid-gap: 0.5em;
        width: 100%;
        justify-content: center;
      }

      .heading {
        color: var(--color-text-muted);
        display: block;
        text-decoration: none;
        text-transform: uppercase;
      }
    </style>
  </body>
</html>

<script src="../../scripts/lazy-load-images.js"></script>
